doctype html
html
  head
    title freeCodeCamp File Metadata
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .container
      .row
        h1 FCC API Basejump: File Metadata Microservice
        hr
        p This application fulfills the #[a(href="http://www.freecodecamp.com/challenges/file-metadata-microservice") final API Basejump] as part of Free Code Camp's JavaScript curriculum.
        h3 Instructions
        hr
        p.text-muted Created by #[a(href="http://thomas-johnson.net/") Thomas Johnson]
      
          
