doctype html
html
  head
    title freeCodeCamp File Metadata
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .container
      .row
        h1 FCC API Basejump: File Metadata Microservice
        hr
        p This application fulfills the #[a(href="http://www.freecodecamp.com/challenges/file-metadata-microservice") final API Basejump] as part of Free Code Camp's JavaScript curriculum.
        h3 Instructions
        p When you use the form below to send a file to <code>#{locals.protocol}://#{locals.hostname}/upload</code>, you will receieve a JSON object containing the file's size #{"(in bytes)"}. <strong>The size of your file may not exceed 5 MB</strong>.
        form(action="/upload", method="post", enctype="multipart/form-data")
          .form-group
            input(type="file", name="file" id="file")
          button.btn.btn-default(type="submit" value="File Upload") Submit
        hr
        p.text-muted Created by #[a(href="http://thomas-johnson.net/") Thomas Johnson]
      
          
